[phases.setup]
nixPkgs = ["nodejs_22", "npm-10_x", "openssl"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["prisma generate", "npx prisma db push --accept-data-loss", "npm run build"]

[start]
cmd = "npm start"
