[phases.setup]
nixPkgs = ["nodejs_20", "npm-10_x", "openssl"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["prisma generate", "npm run build"]

[start]
cmd = "npx prisma db push --accept-data-loss && npm start"
